:root {
    --background-color: #f9cdad;
    --border-color: #7591ad;
    --text-color: #34495e;
    --color1: #ece5ce;
    --color2: #83af9b;
}
* {
    padding: 0;
    margin: 0;
}
html {
    font-size: 14px;
}
body {
    width: 100vw;
    height: 100vh;
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    position: relative;
    padding: 50px;
    background-color: var(--color1);
    border-radius: 11px;
    box-shadow: 20px 20px var(--color2);
    animation: move1 3s ease-in-out infinite;
}

p::after, p::before {
    position: absolute;
    content: "";
    height: 11px;
    left: 0px;
    background-color: var(--color1);
    border-radius: 11px;
    box-shadow: 20px 20px var(--color2);
}

p::after{
    width: 50px;
    bottom: -25px;
    animation: move2 3s ease-in-out infinite;
}

p::before{
    width: 11px;
    bottom: -50px;
    animation: move3 3s ease-in-out infinite;
}

@keyframes move1 {
    50%{
        transform: translateY(-30px);
    }
}
@keyframes move2 {
    50%{
        transform: translateY(-10px);
    }
}
@keyframes move3 {
    50%{
        transform: translateY(-20px);
    }
}